@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  color: white;
}

.about-container {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background-image: url(../assets/pxfuel.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.about-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(11, 11, 11, 0.5), rgba(0, 0, 0, 0.8));
  z-index: -1;
}

.upper-half {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 3rem;
  align-items: center;
  text-align: center;
}

.lower-half {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.58);
}

.about-us{
    background: linear-gradient(to bottom, #fffbfc93, #e8647a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 3.5rem;
}

.side-img {
  width: 100%;
  height: auto;
}

.sub-hook {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  color: white;
}

.lower-col1 {
    align-items: center;
    justify-content: center;
    background-image: url("../assets/floral.png");
    background-size: cover;
    background-position: center;
    position: relative; /* Add position relative */
  }
  
  .lower-col1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background color */
    z-index: 1;
  }
  
  .lower-col1 .text-container {
    position: relative; /* Add position relative */
    z-index: 2;
    text-align: center;
    color: white;
    padding: 2rem;
  }
  
  .lower-col1 h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .lower-col1 p {
    font-size: 1.2rem;
    margin: 0;
  }
  

.donutimg {
  width: 90%;
  height: 100%;
}

.up-img {
  width: 100%;
  height: 25rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: 650;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  margin: 0;
}

.about-us-title {
  background-color: white;
  text-align: center;
}

.madeforu {
  padding: 1rem;
  color: aliceblue;
  font-weight: bold;
}

.wlove {
  font-family: 'Damion', cursive;
  color: #faa0af;
}
