.footer {
    border: black solid;
    width: 100vw;
    box-sizing: border-box;
    padding: 3rem 3rem 0 3rem;
    
}

.footer-l-col {
    border: rgb(65, 64, 64) solid;
}

.footer-r-col {
    border: rgb(61, 59, 59) solid;
}