.slider {
    margin-top: 40px;
    text-align: center;
  }
  
  .slideshow-heading {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: var(--brown);
  }
  
  .slideshow {
    position: relative;
    margin-top: 20px;
  }
  
  .mainimg {
    width: 37rem; /* Adjust the width as per your preference */
    height: auto; /* Adjust the height to match the width */
    object-fit: cover;
  }
  
  
  .sliders-button {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    background-color: white;
    color: var(--brown);
    border: white solid;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 30rem;
    border-radius: 2rem;
  }
  
.sliders-button:hover {
  color: var(--watermelon);
}